{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text">
            {{quote.quote}}
        </span>
            <span>by <small class="author" itemprop="author">{{quote.author.fullname}}</small>
        <a href="/show_author/{{quote.author.id}}">(about)</a>
        </span>
            <div class="tags">
                Tags:

                {% for tag in quote.tags.all %}
                <a class="tag" href="/viewing_tag/{{ tag.name }}">{{tag.name}}</a>
                {% endfor %}


            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}